# Logs
logs/
*.log

# Diretórios de Build
bin/
obj/

# Arquivos do Visual Studio
.vs/
*.user
*.suo

# Arquivos gerados pelo Visual Studio Code
.vscode/

# Dependências do npm (caso haja front-end integrado)
node_modules/

# Arquivos temporários e de cache
*.pid
*.swp
*.tmp
*.temp

# Configurações locais
appsettings.*.json
.env

# Arquivos de publicação
publish/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de backup
*.bak
*.old
*.orig

# Arquivos de cobertura de código
coverage/

# Arquivos do Docker
Dockerfile
.dockerignore

# Outros
*.ide
